@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gotham;
  src: url("./assets/fonts/GothamMedium.ttf")
}

@font-face {
  font-family: Torus;
  src: url("./assets/fonts/TorusProBold.ttf")
}

@layer base {
  html, body, #app {
    @apply overflow-hidden;
    @apply h-full w-full;
    @apply text-white;
  }
}

@layer components {
  .route-active {
    @apply relative;
    @apply before:absolute before:block;
    @apply before:border-b-4 before:border-pink-accent;
    @apply before:h-4 before:w-full;
    @apply before:-bottom-2;
  }

  .osu-login {
    @apply absolute;
    @apply right-6 inset-y-6;
    @apply bg-pink-accent rounded-lg;

    font-family: Torus;
    @apply text-2xl;
  }

  .spinning-square {
    @apply bg-black opacity-40;
    @apply absolute;
  }
}

@layer utilities {
  .route-links {
    font-family: Gotham;
  }
}
