@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gotham;
  src: url("./assets/GothamMedium.ttf")
}

@layer base {
  html, body, #app {
    @apply h-full w-full;
    @apply relative;
  }
}

@layer components {
  .nav-item {
    font-family: Gotham;
    @apply text-lg font-bold select-none;
  }

  .nav-route {
    @apply hover:bg-white hover:text-black;
    @apply group-hover:bg-white group-hover:text-black;
    @apply transition-all;
    @apply px-4 rounded-full;
  }

  .nav-route-child {
    @apply text-black;
    @apply hover:bg-black hover:text-white;
    @apply px-6;
  }
}

@layer utilities {
  .rounded-without-tl {
    @apply rounded-lg;
    @apply rounded-tl-none;
  }

  .group-opacity-transition {
    @apply opacity-0 group-hover:opacity-100 transition-opacity;
  }

  .group-visible {
    @apply invisible group-hover:visible;
  }
}
