@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gotham;
  src: url("./assets/fonts/GothamMedium.ttf")
}

@screen sm {
  font-size: 1rem;
}

@layer base {
  html, body, #app {
    @apply overflow-hidden relative;
    @apply h-full w-full;
    @apply text-white;
  }

  main {
    font-family: Gotham;
    @apply flex items-center;
  }
}

@layer components {
  .route-link {
    @apply p-1 px-4;
    @apply rounded-full;
    @apply lg:text-xl font-bold;

    @apply bg-purple-p shadow shadow-black;
    @apply transition-all;
  }

  .route-link:hover {
    @apply bg-purple-s;
    @apply scale-110;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
